body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(photo-1520960858461-ac671067213e.avif);
    
}
.login-container {
    background: white;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.input-box, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: wheat;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 18px;
}
button:hover {
    background-color: rgb(18, 130, 228);
    
}
p {
    margin-top: 15px;
    font-size: 14px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.login{
    width: 375px;
} 